.HomePage {
  //box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
  //background-color: white;
  width: 95%;
  margin: auto;
  height: auto;
  margin-top: 2rem;

  .title {
    text-align: center;
    font-size: 1.6rem;
    color: #6f7287;
    padding: 3rem;
    padding-bottom: 0;
  }

  .search {
    float: left;
    margin-top: 0;
    padding-left: 2rem;
  }

  .button-og {
    margin-top: 1rem;
    float: left;
    margin-left: 9%;
  }
}